<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
		<add
			name="Connection"
			connectionString="Data Source=PAJANGHINA;Initial Catalog=music_app;Integrated Security=True"
		/>
	</connectionStrings>
	
	<appSettings>
		<!-- Tables -->
		<add key="ParentTableName" value="artist" />
		<add key="ChildTableName" value="album" />

		<!-- Keys -->
		<add key="ParentPrimaryKey" value="artist_id" />
		<add key="ChildPrimaryKey" value="album_id" />
		
		<!-- Columns -->
		<add key="ChildColumnNames" value="title,release_date,artist_id" />
		<add key="ChildColumnParams" value="@title,@release_date,@artist_id" />
		
		<!-- Parent Queries -->
		<add key="SelectParentsQuery" value="SELECT * FROM {TableName}" />

		<!-- Child Queries -->
		<add key="SelectChildrenQuery" value="SELECT * FROM {TableName} WHERE {ForeignKeyName} = @foreignKey" />
		<add key="SelectChildQuery" value="SELECT * FROM {TableName} WHERE {PrimaryKeyName} = @primaryKey"/>
		<add key="InsertChildQuery" value="INSERT INTO {TableName} ({ColumnNames}) VALUES ({ColumnParams})" />
		<add key="UpdateChildQuery" value="UPDATE {TableName} SET {ColumnAssignments} WHERE {PrimaryKeyName} = @primaryKey" />
		<add key="DeleteChildQuery" value="DELETE FROM {TableName} WHERE {PrimaryKeyName} = @primaryKey" />
	</appSettings>
</configuration>